html{
    background-color: black;
}

#nav-tittle{
    margin-left: 5vw;
}
#nav-items{
    justify-content: center;
    gap: 5vw;
}
#navbar{
    background-color: #5D0780;
    border-bottom: 1px solid #FF69B4;
    position: relative;
}
main{
    /* background: linear-gradient(to bottom right, #5D0780, #474747); */
    padding-bottom: 20vh;
}
/* begin Welcome section*/
#Welcome{
    background-color: #474747;
    color: whitesmoke;
    /* background-image: url("../src/img/backgrounds/milad-fakurian-Oi_oaJk3qlo-unsplash.jpg"); */
    background-image: linear-gradient(to bottom,rgba(58, 59, 61),rgba(58, 59, 61, 0.4)),
    url("../src/img/backgrounds/kai-oberhauser-BKAaLmT0tIs-unsplash.jpg");
    /* background-image: url("../src/img/backgrounds/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.typing-1{
    display: block;
    /* font-family: monospace; */
    white-space: nowrap;
    border-right: 4px solid;
    /* width: 21ch; */

    animation: typing-dev 2s steps(24) infinite alternate,
    blink .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing-dev {
    from { width: 0; }
    to { width: 22ch; }
}
@keyframes blink {
    50% {border-color: transparent;}
}

#container-text-video{
    background-color: black;
    color: whitesmoke;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video h2{
    background-color: black;
    text-align: center;
    mix-blend-mode: multiply;
}


#container-spinner{
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: left; /* Alinea horizontalmente */
    flex-direction: row;
}
.item-Title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#spinner{
    color: #FF69B4;
}
#description-about{
    width: 40vw;
}
#profile-image{
    width: 20vw;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #FF69B4;
}

/* end Welcome section*/

/* begin About section */
#About{
    background: linear-gradient(to bottom right, #5D0780, #474747);
}
#about-text{
    color: whitesmoke;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    width: 70%;
}

#Experience{
    background: linear-gradient(to bottom left, #474747,#5D0780);
    color: white;
    padding-top: 10vh;
}
#experience-title{
    text-align: center;
    padding-bottom: 10vh;
}


/* begin Education section */
#Education{
    /* background: linear-gradient(to bottom left, #474747,#5D0780); */
    background-color: #5D0780;
    padding-bottom: 10vh;
}

.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card img{
    opacity: 0.4;
    width: 100%;
    height: 75vh;
    object-fit:contain;
}
.ed-desc{
    width: 60%;
}
/* end Education section*/

/* begin Skills section*/
#Skills{
    background-color: #FF69B4;
    height: 30vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#skills-container{
    height: 50vh;
    background-color: #474747;
}
/* end Skills section*/

/* begin Contact section*/
#Contact{
    background-color: #474747;
    color: whitesmoke;
    height: 30vh;
    padding-top: 10vh;
}
/* end Contact section*/