html{
    background-color: black;
}

#nav-tittle{
    margin-left: 5vw;
}
#nav-items{
    justify-content: center;
    gap: 5vw;
}
#navbar{
    background-color: #5D0780;
    border-bottom: 1px solid #FF69B4;
    position: relative;
}
main{
    /* background: linear-gradient(to bottom right, #5D0780, #474747); */
    padding-bottom: 20vh;
}
/* begin Welcome section*/
#Welcome{
    background-color: #474747;
    color: whitesmoke;
    /* background-image: url("../src/img/backgrounds/milad-fakurian-Oi_oaJk3qlo-unsplash.jpg"); */
    background-image: linear-gradient(to bottom,rgba(58, 59, 61),rgba(58, 59, 61, 0.4)),
    url("../src/img/backgrounds/kai-oberhauser-BKAaLmT0tIs-unsplash.jpg");
    /* background-image: url("../src/img/backgrounds/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#container-spinner{
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: left; /* Alinea horizontalmente */
    flex-direction: row;
}
.item-Title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#spinner{
    color: #FF69B4;
}
#description-about{
    width: 40vw;
}
#profile-image{
    width: 20vw;
    height: 100%;
    border-radius: 100%;
    border: 1px solid #FF69B4;
}

/* end Welcome section*/

/* begin About section */
#About{
    background: linear-gradient(to bottom right, #5D0780, #474747);
}
#about-text{
    color: whitesmoke;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    width: 70%;
}

.card{
    width: 70%;
}
.card img{
    object-fit: cover;
}

#education-text{
    padding-left: 5vw;
    padding-right: 5vw;
}

#education-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center ;
    align-items: center;
}
.container-card-img{
    background-color: #474747;
}
.card-img{
    opacity: 0.5;
}


/* begin Education section */
#Education{
    background: linear-gradient(to bottom left, #474747,#5D0780);
    padding-bottom: 10vh;
}

/* end Education section*/

/* begin Skills section*/
#Skills{
    background-color: #FF69B4;
    height: 30vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
/* end Skills section*/

/* begin Projects section*/
#Projects{
    background-color: #474747;
    color: whitesmoke;
    height: 30vh;
    padding-top: 10vh;
}
/* end Projects section*/

/* begin Contact section*/
#Contact{
    background-color: #5D0780;
    color: whitesmoke;
    height: 30vh;
    padding-top: 10vh;
}
/* end Contact section*/